*,
*:before,
*:after
		box-sizing: border-box
		//border: 1px solid red

*:before,
*:after
		+max-screen(1024px)
			display: none !important

body
		font-family: $ff-m
		line-height: 1.5
		font-size: 14px
		overflow-x: hidden

img
		width: 100%
		height: 100%


.picture
		position: absolute

		&--right
				top: 25px
				right: 0
				z-index: -1

		&--left
				top: 25px
				left: 0
				z-index: -1


.section--delimiter
		background-image: url('/img/delimiter-bg.svg')
		background-position: center center
		background-repeat: no-repeat
		background-size: cover

		&-smile
				background-image: url('/img/delimiter-bg.svg')

.modal--card
		position: relative

		&:before
				content: ''
				position: absolute
				background-image: url("/img/question.svg")
				width: 300px
				height: 610px
				background-repeat: no-repeat
				background-size: contain
				top: -120px
				left: -150px
				z-index: -1

.sections
		position: relative

		&:after
				content: ''
				position: absolute
				background-image: url("/img/bg-2.png")
				background-repeat: no-repeat
				background-size: 100%
				right: 0
				top: 10%
				width: 100%
				height: 100%

		.section
				z-index: 1

		.section:not(.section--froze)
				padding-bottom: 0

				.card
						flex-direction: column

						&__wrapper
								flex-direction: column

.section--froze

		.card
				width: 890px
				margin: 0 auto
				position: relative

				+max-screen(1024px)
						width: 100%

				&:after
						content: ''
						position: absolute
						background-image: url("/img/pig.png")
						width: 290px
						height: 230px
						background-repeat: no-repeat
						right: -110px
						bottom: -80px
						z-index: 10

				&__wrapper
						display: flex
						flex-direction: column

				&__footer
						display: flex
						flex-direction: row
						width: 100%
						align-items: center

						.btn
								height: 61px

						.text
								margin-left: 20px

.card--no-bordered
		background: transparent !important

.section--official
		//padding-bottom: 0
		position: relative

		.container
				max-width: 100%
				width: 100%

				&:before
						content: ''
						position: absolute
						background-image: url("/img/rhombus.png")
						background-repeat: no-repeat
						width: 750px
						height: 750px
						background-size: contain
						z-index: -1
						top: 0%
						left: -20%
						opacity: .3

				&:after
						content: ''
						position: absolute
						background-image: url("/img/circle.png")
						background-repeat: no-repeat
						width: 750px
						height: 750px
						background-size: contain
						z-index: -1
						top: 50%
						right: -20%
						opacity: .3

		.section__wrapper
				max-width: 1500px
				width: 100%
				margin: 0 auto

		&:before
				content: ''
				position: absolute
				width: 120%
				background: $white
				height: 80px
				z-index: 8
				box-shadow: 0px 20px 25px rgba(0, 82, 255, 0.04)
				transform: rotate(-3deg)
				top: -60px

		&:after
				content: ''
				position: absolute
				width: 120%
				background: $white
				height: 80px
				z-index: 8
				box-shadow: 0px -20px 25px rgba(0, 82, 255, 0.04)
				transform: rotate(-3deg)
				//top: -30px
				bottom: -40px

.information
		position: relative
		max-width: 1200px
		width: 100%
		height: 700px
		margin: 0 auto
		background-image: url("/img/docs.png")
		background-repeat: no-repeat
		background-size: contain
		background-position: center

		.information-item
				display: flex
				align-items: center
				margin-bottom: 140px
				width: 490px

				+max-screen(1024px)
						width: 100%

				&:last-child
						margin-bottom: 0

				&__title

				&__text

				&__icon
						padding: 30px
						border-radius: 50%
						border: 1px solid $disabled
						background-color: $white

						.icon
								color: $primary
								font-size: 30px

		.information-item--left
				text-align: right

				.information-item__icon
						margin-left: 20px

		.information-item--right
				margin-left: auto
				text-align: left
				display: flex
				flex-direction: row-reverse

				.information-item__icon
						margin-right: 20px

.reviews
		min-height: fit-content !important
		max-height: fit-content !important
		height: fit-content !important
		padding: 50px 60px
		box-shadow: 0px 20px 25px -10px rgba(0, 82, 255, 0.04)

		&__wrapper
				display: flex

		&__preview
				display: flex
				flex-shrink: 0
				width: 170px
				height: 170px

				img
						width: 100%
						height: 100%

		&__content

		&__head
				display: flex
				align-items: center
				justify-content: space-between

		&__name
				color: $dark
				font-size: 18px
				font-family: $ff-b

		&__link
				.icon
				font-size: 30px
				color: #6695BD

		&__description
				margin-top: 10px
				font-size: 14px
				font-family: $ff-m

		&__info
				margin-top: 15px
				opacity: .6
				font-size: 11px

.section--reviews

		.slider
				padding: 50px 0
				position: relative

				&:before
						content: ''
						position: absolute
						left: 0
						top: 0
						height: 100%
						width: 400px
						z-index: 10
						background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%)

				&:after
						content: ''
						position: absolute
						right: 0
						top: 0
						height: 100%
						width: 400px
						z-index: 10
						background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%)

				&__pagination
						display: flex
						justify-content: center
						padding-right: 30px
						margin-top: 25px
						width: 100%

						.swiper-pagination-bullet
								width: 45px
								height: 5px
								border-radius: 10px
								transition: background-color .2s ease, width .2s ease

								&-active
										width: 160px
										background-color: $primary

								&:not(:last-child)
										margin-right: 10px

.slider-decor
		padding: 30px 0
		position: relative

		&:before
				content: ''
				position: absolute
				background-image: url("/img/micro-1.png")
				background-repeat: no-repeat
				background-size: contain
				width: 200px
				height: 200px
				left: 60%
				top: -7%
				z-index: 20

		&:after
				content: ''
				position: absolute
				background-image: url("/img/micro-2.png")
				background-repeat: no-repeat
				background-size: contain
				width: 200px
				height: 200px
				left: 30%
				top: 43%
				z-index: 20

.section--limitations

		.info

				&__wrapper
						+max-screen(768px)
							flex-direction: column

.section--about

		.section__wrapper

				+max-screen(768px)
					flex-direction: column !important

.column
		flex-direction: column
