.btn
		outline: none
		border: none
		background: none
		box-shadow: none
		cursor: pointer

		&--primary
				border-radius: 5px
				background: $primary-gradient
				box-shadow: 0px 2px 0px #B95937, inset 0px 0px 20px 5px rgba(255, 255, 255, 0.15)
				text-transform: uppercase
				text-shadow: 0px 2px 0px #D67926
				color: $white
				font-size: 14px
				padding: 20px 40px
				transition: box-shadow .2s ease
				font-family: $ff-b

				&:hover,
				&:focus
						box-shadow: none
