@mixin fontFace($fontName)
	@font-face
		font-family: quote($fontName)
		src: url("../fonts/" + $fontName + "/" + $fontName + ".eot")
		src: url("../fonts/" + $fontName + "/" + $fontName + ".eot?#iefix") format("embedded-opentype"), url("../fonts/" + $fontName + "/" + ".woff") format("woff"), url("../fonts/" + $fontName + "/" + $fontName + ".ttf") format("truetype"), url("../fonts/" + $fontName + "/" + $fontName + ".svg##{$fontName}") format("svg")
		font-weight: normal
		font-style: normal

@mixin fontFaceTtf($fontName)
	@font-face
		font-family: quote($fontName)
		src:  url("../fonts/" + $fontName + "/" + $fontName + ".ttf") format("truetype")
		font-weight: normal
		font-style: normal
		font-display: fallback

+fontFaceTtf("Montserrat-Regular")
+fontFaceTtf("Montserrat-Black")
+fontFaceTtf("Montserrat-BlackItalic")
+fontFaceTtf("Montserrat-Bold")
+fontFaceTtf("Montserrat-BoldItalic")
+fontFaceTtf("Montserrat-ExtraBold")
+fontFaceTtf("Montserrat-ExtraBoldItalic")
+fontFaceTtf("Montserrat-ExtraLight")
+fontFaceTtf("Montserrat-ExtraLightItalic")
+fontFaceTtf("Montserrat-Italic")
+fontFaceTtf("Montserrat-Light")
+fontFaceTtf("Montserrat-LightItalic")
+fontFaceTtf("Montserrat-Medium")
+fontFaceTtf("Montserrat-MediumItalic")
+fontFaceTtf("Montserrat-SemiBold")
+fontFaceTtf("Montserrat-SemiBoldItalic")
+fontFaceTtf("Montserrat-Thin")
+fontFaceTtf("Montserrat-ThinItalic")
+fontFaceTtf("PlayfairDisplay-Bold")
