.form
		width: 100%

.input-field
		display: flex
		flex-direction: column

		&__label
				margin-bottom: 5px

		&__wrap
				display: flex
				position: relative

		&__btn
				+reset_btn
				background: $primary-gradient
				color: $white
				font-size: 14px
				font-family: $ff-b
				padding: 20px 50px
				position: absolute
				top: 0
				right: 0
				height: 100%
				border-top-right-radius: 5px
				border-bottom-right-radius: 5px
				transition: background .2s ease

				&:hover
						background: $primary

				.icon
						font-size: 24px

						+max-screen(425px)
							font-size: 18px

				+max-screen(980px)
						padding: 20px 30px

.input
		width: 100%
		outline: none
		border: none

		&--phone
				padding: 20px 190px 20px 30px
				border-radius: 5px
				border: 2px solid $disabled
				font-size: 18px
				font-family: $ff-m
				color: $dark
				transition: background .2s ease

				&:focus
						background: $disabled

				+max-screen(560px)
						padding: 20px 30px 20px 20px
