.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}


#SVG_container{
	position: absolute;
	height: 0;
	width: 0;
}

#SVG_container svg{
	position: absolute;
	height: 0;
	width: 0;
}

.icon-album {
	font-size:(30/10)*1rem;
	width:(30/30)*1em;
}
.icon-attribution {
	font-size:(16/10)*1rem;
	width:(16/16)*1em;
}
.icon-awards {
	font-size:(20/10)*1rem;
	width:(14/20)*1em;
}
.icon-briefcase {
	font-size:(19/10)*1rem;
	width:(22/19)*1em;
}
.icon-check {
	font-size:(16/10)*1rem;
	width:(20/16)*1em;
}
.icon-check-off {
	font-size:(14/10)*1rem;
	width:(24/14)*1em;
}
.icon-chevron-left {
	font-size:(24/10)*1rem;
	width:(24/24)*1em;
}
.icon-chevron-right {
	font-size:(22/10)*1rem;
	width:(22/22)*1em;
}
.icon-coolicon {
	font-size:(14/10)*1rem;
	width:(14/14)*1em;
}
.icon-file {
	font-size:(30/10)*1rem;
	width:(28/30)*1em;
}
.icon-format-center {
	font-size:(14/10)*1rem;
	width:(18/14)*1em;
}
.icon-phone {
	font-size:(20/10)*1rem;
	width:(20/20)*1em;
}
.icon-question {
	font-size:(20/10)*1rem;
	width:(12/20)*1em;
}
.icon-radio {
	font-size:(37/10)*1rem;
	width:(37/37)*1em;
}
.icon-smile {
	font-size:(20/10)*1rem;
	width:(20/20)*1em;
}
.icon-telegram {
	font-size:(13/10)*1rem;
	width:(15/13)*1em;
}
.icon-times {
	font-size:(14/10)*1rem;
	width:(14/14)*1em;
}
.icon-trophy {
	font-size:(16/10)*1rem;
	width:(16/16)*1em;
}
.icon-viber {
	font-size:(13/10)*1rem;
	width:(14/13)*1em;
}
.icon-vk {
	font-size:(13/10)*1rem;
	width:(19/13)*1em;
}
.icon-whatsapp {
	font-size:(15/10)*1rem;
	width:(15/15)*1em;
}
.icon-zoom-in {
	font-size:(19/10)*1rem;
	width:(19/19)*1em;
}
