.title
		font-weight: 700
		margin-bottom: 20px
		font-family: $ff-eb

		&--h1
				font-size: $h1-size

				+max-screen(560px)
						font-size: 35px

		&--h2
				font-size: $h2-size

				+max-screen(560px)
						font-size: $h2-size / 2

		&--uppercase
				text-transform: uppercase

		&--center
				width: 100%
				text-align: center

.subtitle
		font-size: $subtitle-size

.description
		font-size: $description-size
		margin-bottom: 45px !important

		&--center
				max-width: 900px
				width: 100%
				text-align: center
				margin: 0 auto

				+max-screen(1024px)
					max-width: 100%

.text
		&--primary
				color: $primary

		&--small
				font-size: 14px
				font-weight: 500

		&--medium
				font-size: 24px !important

		&--gray
				color: $gray-3

		&--bold
				font-size: 16px
				font-weight: 700

		&--center
				text-align: center
				margin: 0 auto

.typography
		&__text

				&--serif
						font-family: $ff-play
						font-size: 18px

		b
				font-weight: 900
				color: $gray-2

		i
				font-style: italic


