mixin head(array)
	meta(charset='UTF-8')
	title!=array.title
	meta(name="description", content="")
	meta(name="viewport" content="width=device-width, initial-scale=1")
	link(href="/css/app.min.css" rel="stylesheet" media="all")

mixin scripts
	script(src="/js/app.min.js")

mixin icon(name,mod)
	- mod = mod || ''
	svg(class="icon icon-" + name + ' ' + mod)
		use(xlink:href="#" + name)
