$class: 'section'

.section--about

		&:after
				content: ''
				position: absolute
				width: 120%
				background: $white
				height: 100px
				z-index: 1
				box-shadow: 0px 20px 25px rgba(0, 82, 255, 0.04)
				transform: rotate(3deg)

		.#{$class}__wrapper
				display: flex
				flex-direction: row
				align-items: center
				background: $white
				z-index: 10
				position: relative

				.title
						width: 400px
						margin-right: 30px

				.slider
						width: calc(100% - 430px)
						position: relative

						&__btn
								display: flex
								+reset_btn
								width: 24px
								height: 24px
								position: absolute
								z-index: 10

								.icon
										pointer-events: all
										+elCenter
										font-size: 24px
										opacity: .25

								&-next
										top: 45%
										right: 0

								&-prev
										transform: rotate(180deg)
										top: 45%
										left: 0

						.swiper-container
								padding: 0 30px

						&__pagination
								display: flex
								justify-content: flex-end
								padding-right: 30px
								margin-top: 25px
								width: 100%

								.swiper-pagination-bullet
										width: 45px
										height: 5px
										border-radius: 10px
										transition: background-color .2s ease, width .2s ease

										&-active
												width: 160px
												background-color: $primary

										&:not(:last-child)
												margin-right: 10px

