$class: 'section'
$mod: '--' + 'construction'

.#{$class + $mod}

		.#{$class}__wrapper
				display: flex
				justify-content: center

				.text--serif
						width: 100%
						text-align: center
						font-family: $ff-play
						color: $black
						font-size: 18px
						text-transform: uppercase
						position: relative
						padding: 20px 0px

						&:after
								content: ''
								position: absolute
								background-image: url("/img/question.svg")
								background-repeat: no-repeat
								width: 100%
								height: 100%
								left: 49%
								top: 10%
								z-index: -1

.items--img
		display: flex
		flex-wrap: wrap
		justify-content: space-between

.img-item
		width: calc(100% / 4 - 100px)
		display: flex
		flex-direction: column
		align-items: center
		justify-content: center
		text-align: center
		margin: 0 50px

		+max-screen(1024px)
				width: calc(100% / 2 - 100px)

		+max-screen(500px)
				width: 100%

		&__picture
				width: 200px
				height: 200px
				display: flex

		&__name
				font-size: 16px
				color: $dark
				font-family: $ff-b
				margin-bottom: 5px

		&__text
				opacity: .5
