$class: 'section'

.section--hero


		&:after
				content: ''
				position: absolute
				background-image: url("../img/hero-bg.png")
				background-repeat: no-repeat
				background-position: top right
				width: 100%
				height: 100%
				top: -95px
				z-index: -1
