$class: 'section'
$mod: '--' + 'information'

.#{$class + $mod}
		top: -130px
		background-image: url("/img/out-bg.svg")
		background-repeat: no-repeat
		background-position: center
		background-size: contain
		height: 750px

		.container
				height: 100%

		.#{$class}__wrapper
				display: flex
				justify-content: center
				align-items: center
				height: 100%

				.card
						height: auto
