$class: 'section'

.section--limitations

		.#{$class}__wrapper
				align-items: flex-start
				margin-left: auto
				text-align: left
				width: fit-content
				max-width: 820px

				+max-screen(1024px)
					max-width: 100%

		&:before
				content: ''
				position: absolute
				display: block
				background-image: url("../img/bg-dollar.png")
				background-repeat: no-repeat
				background-position: center left 30%
				background-size: contain
				width: 100%
				height: 100%
				top: 0

		&:after
				content: ''
				position: absolute
				display: block
				background-image: url("../img/bg-dollar-line.png")
				background-repeat: no-repeat
				background-position: top left -10%
				background-size: contain
				width: 100%
				height: 100%
				top: -30%
				left: 0
				z-index: -1

.info

		&__title
				margin-bottom: 25px
				color: $gray-2

		&__wrapper
				display: flex
				align-items: center

.info-item
		display: flex
		align-items: center
		margin-right: 40px

		&__icon
				border: 1px solid $disabled
				border-radius: 50%
				padding: 25px
				margin-right: 15px

		&__icon .icon
				font-size: 24px
				color: $primary

		&__text
				color: $gray-2
				font-weight: 700
				font-size: 16px
				width: 200px
