.section--portfolio
		padding-top: 0 !important
		background-color: $white
		z-index: 10

.portfolio
		padding: 50px 80px
		display: flex
		flex-direction: column
		width: 100%

		&-hero
				display: flex
				flex-direction: row
				align-items: center
				height: 570px

				&__preview
						width: calc(100% - 280px)
						height: 100%
						margin-right: 10px

						img
								width: 100%
								height: 100%
								object-fit: cover


				&-aside
						width: 270px
						align-items: flex-start
						justify-content: flex-start
						height: 100%

						&__items
								display: flex
								flex-direction: column
								height: 100%

						&__item
								display: flex
								height: calc(100% / 3 - 5px)
								margin-bottom: 10px

								&:nth-child(3)
										margin-bottom: 0

		&-slider
				//display: none
				border-top: 1px solid $disabled
				padding-top: 40px
				padding-bottom: 30px
				margin-top: 40px
				overflow: hidden

				&__nav

		&-item
				height: 225px
				width: 330px
				position: relative
				display: flex
				border-radius: 5px

				&__head
						position: absolute
						top: 20px
						left: 20px
						z-index: 10
						color: $white
						padding: 10px
						border: 1px solid $white
						border-radius: 5px
						user-select: none

				&__content
						position: absolute
						bottom: 30px
						left: 20px
						width: 100%
						z-index: 10
						color: $white

				&__picture
						position: relative

						img
								width: 100%
								height: 100%
								border-radius: 5px

						&:after
								content: ''
								position: absolute
								width: 100%
								height: 100%
								background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%)
								top: 0
								left: 0
								border-radius: 5px

