.section--specialist
		margin-bottom: 200px

		&:after
				content: ''
				position: absolute
				width: 120%
				background: linear-gradient(90deg, rgba(255,255,255,1) 20%, rgba(255,255,255,0) 20%)
				height: 100px
				z-index: 1
				box-shadow: 0px 20px 25px rgba(0, 82, 255, 0.04)
				transform: rotate(3deg)
				bottom: -200px
