.section--spending
		top: -200px

		&:before
				content: ''
				position: absolute
				width: 120%
				background: $white
				height: 80px
				z-index: 8
				box-shadow: 0px 20px 25px rgba(0, 82, 255, 0.04)
				transform: rotate(-3deg)
				top: -150px

		.picture

				&:after
						content: ''
						position: absolute
						display: block
						background-image: url("../img/bg-dollar-line.png")
						background-repeat: no-repeat
						background-position: top left -10%
						background-size: contain
						width: 100%
						height: 100%
						top: -90px
						left: 110px
						z-index: -1
						transform: rotate(70deg)
