.tariffs
		display: flex
		flex-wrap: nowrap
		justify-content: space-between

		+max-screen(1140px)
				flex-wrap: wrap
				justify-content: center

.tariff
		width: calc(100% / 3 - 20px)
		margin-right: 20px
		padding: 40px
		border-radius: 5px
		border: 2px solid $disabled

		+max-screen(1140px)
				width: calc(100% / 2 - 20px)

				&:not(:last-child)
						margin-bottom: 25px

		+max-screen(980px)
				max-width: 470px
				width: 100%
				margin-right: 0

				+max-screen(1024px)
					max-width: 100%

		+max-screen(560px)
			max-width: 100%

		&__name
				font-size: 18px
				font-family: $ff-sb

				&--blue
						color: $blue

				&--green
						color: $green

				&--orange
						color: $orange

		&:last-child
				margin-right: 0

		&__price
				font-size: 48px
				font-family: $ff-sb

		&__wrapper

				.btn
						margin-top: 70px
						width: 100%

.tariff-list
		padding-left: 0
		list-style: none

.tariff-item
		display: flex
		align-items: center
		margin-bottom: 15px

		&__icon
				margin-right: 15px
				+elCenter

				.icon
						font-size: 14px
						color: $primary

		&__text
				font-size: 14px
				color: $dark

		&--disabled

				.icon
						color: $dark
						opacity: .5

				.tariff-item__text
						opacity: .5
