mixin footer
	footer.footer
		.container
			.footer-top
				.footer-logo
					a(href='/').footer-logo__link
						img(src='/img/logo.svg').footer-logo__img
				.footer-top__contacts.contacts
					.contacts__wrapper
						a(href='tel:+79899999999').contacts-item.contacts-item--phone +7 (989) 999-99-99
						a(href='', data-modal="#feedback-modal").contacts-item.js-open-modal Перезвоните мне
				.social.social--invert
					.social__wrapper
						a(href='/').social-item.social-item--telegram
							.social-item__icon
								+icon('telegram')
							.social-item__text Telegram
						a(href='/').social-item.social-item--whatsapp
							.social-item__icon
								+icon('whatsapp')
							.social-item__text WhatsApp
						a(href='/').social-item.social-item--viber
							.social-item__icon
								+icon('viber')
							.social-item__text Viber
			.footer-bottom
				.copyright Copyright “PRO Ремонт” 2021
				.policy
					a.policy__link Политика конфиденциальности

