mixin header
	#SVG_container
	header.header
		.container
			.header__wrapper
				.header-logo
					a(href='/').header-logo__link
						img(src='/img/logo.svg').header-logo__img
				.social
					.social__title Задать вопрос напрямую здесь:
					.social__wrapper
						a(href='/').social-item.social-item--telegram
							.social-item__icon
								+icon('telegram')
							.social-item__text Telegram
						a(href='/').social-item.social-item--whatsapp
							.social-item__icon
								+icon('whatsapp')
							.social-item__text WhatsApp
						a(href='/').social-item.social-item--viber
							.social-item__icon
								+icon('viber')
							.social-item__text Viber
				.contacts
					.contacts__icon
						+icon('phone')
					.contacts__wrapper
						a(href='tel:+79899999999').contacts-item.contacts-item--phone +7 (989) 999-99-99
						a(href='', data-modal="#feedback-modal").contacts-item.js-open-modal Перезвоните мне
