mixin modals
	.modals
		.modal.modal--feedback#feedback-modal.animated
			.modal__wrapper
				.modal__header
					.title.title--h2 Обратный
						spna.text.text--primary звонок
					.description Оставьте свои контакты, и менеджер с вами свяжется
				.modal__content
					form.form
						label.input-field
							span.input-field__label Оставьте номер телефона
							.input-field__wrap
								input(type='text', placeholder='+7 (---) ---------').input.input--phone.js-phone-mask
								button(type='submit').input-field__btn Оставить
				.modal__footer
					.social
						.social__title Задать вопрос напрямую здесь:
						.social__wrapper
							a(href='').social-item.social-item--telegram
								.social-item__icon
									+icon('telegram')
								.social-item__text Telegram
							a(href='').social-item.social-item--whatsapp
								.social-item__icon
									+icon('whatsapp')
								.social-item__text WhatsApp
							a(href='').social-item.social-item--viber
								.social-item__icon
									+icon('viber')
								.social-item__text Viber
					.policy
						a.policy__link Политика конфиденциальности

		.modal.modal--order#order-modal.animated
			.modal__wrapper
				.modal__header
					.title.title--h2 Заказать
						span.text.text--primary  ремонт
					.description Оставьте свои контакты, и мы свяжемся с вами для составления сметы
				.modal__content
					form.form
						label.input-field
							span.input-field__label Оставьте номер телефона
							.input-field__wrap
								input(type='text', placeholder='+7 (---) ---------').input.input--phone.js-phone-mask
								button(type='submit').input-field__btn Оставить
				.modal__footer
					.social
						.social__title Задать вопрос напрямую здесь:
						.social__wrapper
							a(href='').social-item.social-item--telegram
								.social-item__icon
									+icon('telegram')
								.social-item__text Telegram
							a(href='').social-item.social-item--whatsapp
								.social-item__icon
									+icon('whatsapp')
								.social-item__text WhatsApp
							a(href='').social-item.social-item--viber
								.social-item__icon
									+icon('viber')
								.social-item__text Viber
					.policy
						a(href='/').policy__link Политика конфиденциальности
