.radio

.radio-input
		position: absolute
		z-index: -1
		opacity: 0
		&:not(:disabled):not(:checked) + .radio-text:hover
				&:before
						background-color: $disabled
		&:not(:disabled):active + .radio-text
				&:before
						background-color: $disabled
		&:focus + .radio-text
				&:before
		//box-shadow: 0 0 0 0.2rem rgba($primary, 0.25)
		&:focus:not(:checked) + .radio-text
				&:before
						border-color: #2AA1DA
		&:checked + .radio-text
				&:before
						background-size: 150% 150%
.radio-text
		display: inline-flex
		align-items: flex-start
		user-select: none
		flex-direction: column
		margin-left: 30px
		position: relative

		&:before
				content: ''
				display: inline-flex
				width: 25px
				height: 25px
				flex-shrink: 0
				flex-grow: 0
				border: 1px solid $disabled
				border-radius: 50%
				margin-right: 10px
				left: -40px
				top: 5px
				position: absolute
				background-repeat: no-repeat
				background-position: center center
				background-size: 0%
				background-image: url("/img/icons/radio.svg")
