.range-wrap
		background: #ededed
		margin: 20px 0
		border: 8px solid #BFE2FF
		box-shadow: 0 4px 12px rgba(0,0,0,0.2), 0 16px 20px rgba(0,0,0,0.2)

.range-slider *
		margin: 0
		padding: 0
		border: 0

.range-slider,
.range-ticks,
.label-range
		display: flex

.range-slider
		flex-flow: column nowrap
		margin: 0 auto
		max-width: 18em
		padding: 0 1.5em 1.5em 1.5em
		font-size: calc(20px + (20)*(100vw)/(2000))
		box-sizing: border-box

		+max-screen(1024px)
				max-width: 100%

.range-slider input[type=range],
.range
		position: relative

.range-slider input[type=range]
		background-color: transparent
		font: 1em/1.5 'Roboto Condensed', sans-serif
		box-shadow: 0.3em 0.3em 0.4em #c1c2c5 inset, -0.3em -0.3em 0.4em #fff inset
		display: block
		padding: 0 0.1em
		width: 100%
		appearance: none

.range-slider input[type=range]:focus
		outline: transparent

.range-ticks
		font: 1em/1.5 'Roboto Condensed', sans-serif
		justify-content: space-between
		align-items: center
		pointer-events: none
		position: absolute
		top: 0.04em
		left: 0.75em
		width: calc(100% - 1.5em)
		height: 100%
		margin-top: 10px

.range-tick,
.range-tick-text
		display: inline-block

.range-tick
		color: $dark
		text-align: center
		width: 0
		user-select: none

.range-tick-text
		transform: translateX(-50%)
		font-size: 11px
		font-family: $ff
		position: relative

		&:before
				content: ''
				position: absolute
				height: 15px
				width: 3px
				z-index: -1
				top: -20px
				left: 35%
				background-color: $disabled

.label-range
		margin-top: 1em
		margin-bottom: 0.5em

.data-range
		display: flex
		height: 3em
		width: 3em
		justify-content: center
		align-items: center
		text-align: center
		font: bold 0.5em/1.5 'Roboto Condensed', sans-serif
		color: #FFF
		position: absolute
		top: 0
		z-index: 2
		pointer-events: none
		//background-color: $primary
		border: 3px solid $primary
		border-radius: 50%
		background-image: url("/img/icons/radio.svg")
		background-position: center center

input[type='range']
		//background: $primary
		overflow: hidden
		width: 100%
		-webkit-appearance: none
		position: relative
		z-index: 2

input[type='range']::-webkit-slider-runnable-track
		background: $disabled
		height: 7px
		-webkit-appearance: none

input[type='range']::-webkit-slider-thumb
		height: 7px
		background: #434343
		box-shadow: -1000px 0 0 1000px $primary

input[type="range"]::-moz-range-progress
		background: $primary
		height: 7px

input[type="range"]::-moz-range-track
		background: $disabled
		height: 7px
		-webkit-appearance: none

input[type="range"]::-ms-fill-lower
		background: $primary

input[type="range"]::-ms-fill-upper
		background: $primary

.range
		width: 100%

		&__head
				display: flex
				align-items: center
				justify-content: space-between
				margin-bottom: 20px

		&__title
				font-size: 24px
				color: $black
				font-family: $ff-m

		&__result
				border: 1px solid $disabled
				border-radius: 5px
				padding: 10px 30px
				font-size: 18px
				color: $black

.input--range
		width: 100%
		margin-bottom: 40px
