$card: 'card' // Block class-name
$mod: '--' + 'left' // Block class-name modify

.#{$card + $mod}
		max-width: 710px
		+fitHeight
		width: 100%

		+max-screen(1024px)
			max-width: 100%

		.#{$card}__wrapper
				display: flex
				flex-direction: column

		.typography__text--serif
				margin-top: 60px
