$card: 'card' // Block class-name
$mod: '--' + 'type' // Block class-name modify

.#{$card + $mod}
		width: calc(100% / 3)

		+max-screen(980px)
				width: 100%
				transform: none !important

				&:not(:last-child)
						margin-bottom: 20px

		&:nth-child(1)
				transform: translateX(10px)

		&:nth-child(3)
				transform: translateX(-10px)

		&:nth-child(2)
				min-height: 550px
				height: 100%
				z-index: 2

		.#{$card}__wrapper
				flex-direction: column

		.#{$card}__type
				color: $danger
				font-weight: 600
				margin-bottom: 10px

		.title
				margin-bottom: 10px

		.#{$card}__description
				color: $gray-2
				font-size: 14px
				margin-bottom: 30px
