$card: 'card'
// Block class-name
$mod: '--' + 'right'
// Block class-name modify

.#{$card + $mod}
		max-width: 710px
		+fitHeight
		width: 100%
		margin-left: auto

		+max-screen(1024px)
				max-width: 100%

		.#{$card}__wrapper
				display: flex
				flex-direction: column

		.typography__text--serif
				margin-top: 60px
