$card: 'card' // Block class-name
$mod: '--' + 'about' // Block class-name modify

.#{$card + $mod}
		+height(200, 200)
		padding: 40px

		.#{$card}__wrapper
				display: flex
				flex-direction: column

		.#{$card}__head
				display: flex
				margin-bottom: 35px

		.#{$card}__icon
				width: 44px
				height: 44px
				padding: 10px
				border: 1px solid $disabled
				border-radius: 5px
				+elCenter
				margin-right: 20px

				.icon
						font-size: 24px
						color: $primary
						filter: drop-shadow(0px 1px 0px #B95937)

		.#{$card}__title
				font-family: $ff-eb
				font-size: 18px
				color: $black

		.#{$card}__text
				font-size: 14px
				font-family: $ff-m
				color: $gray-2

