$class: 'section' // Block class-name
$mod: '--' + 'delimiter' // Block class-name modify

.#{$class + $mod}

		.#{$class}__wrapper
				align-items: center

		.#{$class}__icon
				border: 1px solid $disabled
				width: 61px
				height: 61px
				border-radius: 50%
				padding: 20px
				+elCenter
				margin-top: 40px

				.icon
						font-size: 24px
						color: $primary
						filter: drop-shadow(0px 1px 0px #B95937)
