.calculator
		width: 100%

		&__body
				border: 2px solid $disabled
				border-radius: 5px
				padding: 40px

				.form
						display: flex
						flex-direction: column

						&--row
								flex-direction: row

						.calc-row
								display: flex
								flex-wrap: wrap

		&--page-2
				.status-bar
				&:after
						background-color: $primary
						width: 25%

		&--page-3
				.status-bar
				&:after
						background-color: $primary
						width: 50%

		&--page-4
				.status-bar
				&:after
						background-color: $primary
						width: 75%

		&--page-final
				.status-bar
				&:after
						background-color: $primary
						width: 100%

		&__wrapper
				//padding: 45px


.repair-type
		&__head
				margin-bottom: 20px

		&__title
				font-size: 24px
				color: $black

		&__description
				font-size: 14px
				opacity: .5


.repair-items
		display: flex
		align-items: center
		justify-content: space-between


.repair-item
		border: 1px solid $disabled
		box-shadow: 0 20px 25px -10px rgba(0, 82, 255, 0.04)
		border-radius: 5px
		padding: 30px
		width: calc(100% / 3 - 10px)
		display: flex
		align-items: center
		position: relative
		word-break: break-word

		&:not(:last-child)
				margin-right: 10px

		&--clear
				border: none
				padding: 0
				box-shadow: none

				.radio-text__title, .checkbox-text__title
						font-family: $ff-sb

				.radio-text__description
						color: $primary

				.checkbox-text__description
						opacity: .7
						font-size: 12px


.calc-section
		width: calc(100% / 2)

		&__head
				padding-bottom: 20px
				margin-bottom: 30px
				border-bottom: 1px solid $disabled

		&__title
				font-size: 24px
				color: $dark
				margin-bottom: 5px

		&__description
				opacity: .7
				font-size: 12px

		.calc-row__name
				font-family: $ff-eb
				opacity: .5
				margin-bottom: 10px


.calc-row__wrapper
		display: flex
		flex-wrap: wrap


.calculator--page-3, .calculator--page-4

		.calc-section__description
				text-align: center

		.calc-section
				margin: 0 auto

		.calc-row
				flex-direction: column

		.calc-row__wrapper
				flex-direction: column

				.repair-item
						width: 100%
						margin-bottom: 15px

.calculator--page-final

		.calculator__wrapper
				border: 1px solid $disabled

		.calculator__footer
				width: 620px
				margin: 0 auto

		.calc-section
				width: 860px
				margin: 0 auto
				display: flex
				flex-wrap: nowrap

				&__body
						width: 100%
						display: flex

		.calculator__body
				border: none

.result
		//width: 840px
		width: 100%
		display: flex
		justify-content: space-between

		&-cost-from

		&-cost
				border-radius: 5px
				border: 1px solid $disabled
				box-shadow: 0px 20px 25px -10px rgba(0, 82, 255, 0.04)
				width: calc(100% / 2)
				padding: 50px

				&:not(:last-child)
						margin-right: 20px

.toolbar

	&.toolbar-bottom
			display: flex
			justify-content: space-between
