.cards
		display: flex
		flex-direction: row
		align-items: center
		flex-wrap: wrap

.card
		+height(480, 480)
		border: 2px solid $disabled
		border-radius: 5px
		background: $white
		padding: 30px
		position: relative

		&--center
				margin: 0 auto
				+fitHeight

		&--big
				max-width: 890px !important
				width: 100%

				+max-screen(1024px)
					max-width: 100% !important

		&__wrapper
				display: flex
				align-items: flex-start

		&__picture
				width: 350px
				height: 350px
				flex-shrink: 0

		&__content
				display: flex
				flex-direction: column

		&--gradient
				background: linear-gradient(90deg, rgba(255,255,255,0) 50%, rgba(255,255,255,1) 50%)

		&--gradient-invert
				background: linear-gradient(90deg, rgba(255,255,255,1) 50%, rgba(255,255,255,0) 50%)

		// Media

		+max-screen(980px)
				min-height: fit-content
				max-height: fit-content
				height: 100%
