.decor-01

		&:before
				content: ''
				position: absolute
				background-image: url("/img/01.svg")
				background-repeat: no-repeat
				background-size: auto
				display: block
				width: 100%
				height: 100%
				left: -25%
				top: -25%
				z-index: -1

.decor-02

		&:before
				content: ''
				position: absolute
				background-image: url("/img/02.svg")
				background-repeat: no-repeat
				background-size: auto
				display: block
				width: 100%
				height: 100%
				right: -65%
				top: 15%
				z-index: -1

.decor-03

		&:before
				content: ''
				position: absolute
				background-image: url("/img/03.svg")
				background-repeat: no-repeat
				background-size: auto
				display: block
				width: 100%
				height: 100%
				left: -25%
				top: -25%
				z-index: -1

.decor-circle

		&:before
				content: ''
				position: absolute
				background-image: url("/img/circle.png")
				background-repeat: no-repeat
				background-size: contain
				display: block
				width: 100%
				height: 100%
				bottom: -30%
				right: -65%
				z-index: -1

.decor-rhombus

		&:before
				content: ''
				position: absolute
				background-image: url("/img/rhombus.png")
				background-repeat: no-repeat
				background-size: contain
				display: block
				width: 800px
				height: 800px
				top: -10%
				left: -10%
				z-index: -1

.decor-dollar

		&:after
				content: ''
				position: absolute
				background-image: url("/img/dollar-bg.png")
				background-repeat: no-repeat
				background-size: cover
				display: block
				width: 70%
				height: 100%
				top: -70px
				left: 150px
				z-index: 9
