.items
		width: 100%
		padding-left: 0
		list-style: none

		&-item
				width: 100%
				display: flex
				align-items: center
				margin-bottom: 20px

				&__icon
						margin-right: 15px

						.icon
								font-size: 14px
								color: $danger

				&__text
						color: $dark
