.policy
		position: relative
		top: 10px
		display: flex
		align-items: center

		&__link
				margin-right: auto
				font-size: 14px
				color: $dark
				opacity: .5
				text-decoration: underline
				cursor: pointer

				&:hover
						opacity: 1
						text-decoration: none
