.section
		padding: 120px 0
		position: relative

		&__wrapper
				display: flex
				flex-direction: column
				align-items: flex-start
				justify-content: center

		// Media

		+max-screen(980px)
				padding: 80px 0

		+max-screen(560px)
				padding: 50px 0

		+max-screen(425px)
				padding: 30px 0
