extends layout/_base

block vars
	- var array = {title:'Document'}

block content_block
	.page
		//- главный экран
		.section.section--hero
			.container
				.section__wrapper
					.title.title--h1
						span.text.text--primary Качественный
						br
						| ремонт
					.subtitle За адекватные деньги
					.description Компания «Проремонт» специализируется на ремонте квартир в новостройках.
					button(data-modal='#order-modal').btn.btn--primary.js-open-modal Заказать ремонт
		//- почему выбираете нас
		.section.section--about
			.container
				.section__wrapper
					.title.title--h2
						| Почему вы
						br
						| выбираете
						br
						span.text.text--primary нас?
						span.text.text--small.text--gray Наши преимущества и достоинства
					.slider.slider--about-us
						.js-about-us-slider.swiper-container
							.swiper-wrapper
								.swiper-slide
									.card.card--about
										.card__wrapper
											.card__head
												.card__icon
													+icon('trophy')
												.card__title Высокое
													| качество
											.card__body
												.card__text Мы заботимся о качестве выполняемых работ
								.swiper-slide
									.card.card--about
										.card__wrapper
											.card__head
												.card__icon
													+icon('awards')
												.card__title Гарантия на
													|  работы
											.card__body
												.card__text Мы даём гарантию 2 года на выполненные работы
								.swiper-slide
									.card.card--about
										.card__wrapper
											.card__head
												.card__icon
													+icon('briefcase')
												.card__title Контроль
													|  руководства
											.card__body
												.card__text Как гарантия надлежащего выполнения работ
							button(type='button').slider__btn.slider__btn-next
								+icon('coolicon')
							button(type='button').slider__btn.slider__btn-prev
								+icon('coolicon')
						.swiper-pagination.slider__pagination
		//- дешевый ремонт
		.section.section--limitations
			.container
				.section__wrapper.section__wrapper--center
					.title.title--h2
						| Дешевый ремонт?
						span.text.text--primary
							|  Да не
							br
							| дай бог!
					.description Желание сэкономить на ремонте абсолютно нормальное явление. Но прежде чем
						| обращаться в компанию из категории «подешевле», учтите минусы такого решения.
					.info
						.info__title Проблемы могут возникнуть на этапах:
						.info__wrapper
							.info-item
								.info-item__icon
									+icon('format-center')
								.info-item__text Укладки материалов
							.info-item
								.info-item__icon
									+icon('attribution')
								.info-item__text Разводки электрики
									| и сантехники
		//- дешево и сердито
		.section.section--delimiter
			.container
				.section__wrapper
					.title.title--h2.title--center
						| Но если вы всё же решили
						br
						span.text.text--primary «дешево и сердито»?
					.text.text--bold.text--gray.text--center Что же вас ждёт?
					.section__icon
						+icon('question')
		//- специалисты низкого уровня
		.section.section--specialist
			.container
				.card.card--left.card--gradient.decor-01
					.card__wrapper
						.title.title--h2
							| Специалисты
							span.text.text--primary  низкой
								br
								| квалификации
						.typography
							p.typography__text Такие «мастера» сами были бы рады сделать ремонт идеально,
							| <b><i>но выше головы не прыгнешь.</i></b> Они могут и допустят грубейшие ошибки.
							| А <b><i>вы обнаружите все косяки спустя некоторое время</i></b>. Вам не останется ничего,
							| кроме как <b><i>делать ремонт заново</i></b>.
							p.typography__text--serif Какие специалисты, такое и качество!
				.picture.picture--right.decor-circle
					img(src='/img/pic-3.png').picture__img
		//- переплата
		.section.section--overpayment.decor-rhombus.decor-dollar
			.container
				.card.card--right.card--gradient-invert.decor-02
					.card__wrapper.card__wrapper--column
						.title.title--h2
							span.text.text--primary Переплата
						.typography
							// todo: Заменить текст из макета
							p.typography__text Такие «мастера» сами были бы рады сделать ремонт идеально,
							| но выше головы не прыгнешь. Они могут и допустят грубейшие ошибки.
							| А вы обнаружите все косяки спустя некоторое время. Вам не останется ничего,
							| кроме как делать ремонт заново.
							p.typography__text--serif Сэкономил сейчас? Потратишься завтра!
		//- траты
		.section.section--spending
			.container
				.card.card--left.decor-03.card--gradient
					.card__wrapper.card__wrapper--column
						.title.title--h2
							span.text.text--primary Непредвиденные
							br
							| траты
						.typography
							// todo: Заменить текст из макета
							p.typography__text Такие «мастера» сами были бы рады сделать ремонт идеально,
							| но выше головы не прыгнешь. Они могут и допустят грубейшие ошибки.
							| А вы обнаружите все косяки спустя некоторое время. Вам не останется ничего,
							| кроме как делать ремонт заново.
							p.typography__text--serif Какие специалисты, такое и качество!
				.picture.picture--right
					img(src='/img/pic-2.png').picture__img
		//- подведем итог
		.section.section--delimiter
			.container
				.section__wrapper.section__wrapper--center
					.title.title--h2
						| Подведём
						span.text.text--primary  итог
						| ?
					.description Денег нет...
					.text.text--bold.text--gray ...и ремонта нет
					.section__icon
						+icon('smile')
		//- разумный выход
		.section.section--information
			.container
				.section__wrapper
					.card.card--center.card--bordered
						.title.title--h2
							span.text.text--primary Разумный
							|  вывод
						.typography Хороший ремонт – правильное соотношение высокого качества и разумной
						| цены. Обратитесь к профессионалам и эти проблемы вас не коснутся.
		//- халтура + карточки
		.section.section--cards
			.container
				.section__wrapper
					.title.title--h2.title--center
						span.text.text--primary Халтура
						|  и как её
						span.text.text--primary
							|  избежать?
					.description.description--center Некоторые компании пользуются тем, что закзачики хотят сэкономить. Соглашаясь на ремонт за гроши, вы готовитесь встретиться с этими тремя ребятами:
					.cards
						.card.card--type
							.card__wrapper
								.card__type Тип 1
								.title.title--h2.title--uppercase Сосед дядя
									br
									| миша
								.card__description А что? Работает, и слава богу!
								ul.items
									li.items-item
										.items-item__icon
											+icon('times')
										.items-item__text Косячит, но честно
									li.items-item
										.items-item__icon
											+icon('times')
										.items-item__text Берёт не много
									li.items-item
										.items-item__icon
											+icon('times')
										.items-item__text Какая цена, такое и качество
									li.items-item
										.items-item__icon
											+icon('times')
										.items-item__text Зато Не придётся далеко ходить
						.card.card--type
							.card__wrapper.card__wrapper--column
								.card__type Тип 2
								.title.title--h2.title--uppercase ну Очень
									br
									| серьёзная
									| компания
								.card__description У нас таких закзачиков ещё 10 в очереди
								ul.items
									li.items-item
										.items-item__icon
											+icon('times')
										.items-item__text Вам всегда ответят...
									li.items-item
										.items-item__icon
											+icon('times')
										.items-item__text ...что сроки откладываются
									li.items-item
										.items-item__icon
											+icon('times')
										.items-item__text Вы для них всего лишь кошелёк
						.card.card--type
							.card__wrapper.card__wrapper--column
								.card__type Тип 3
								.title.title--h2.title--uppercase Барыга
								.card__description Вообще-то 15 тыс. рублей это за выезд оценщика!
									| Ремонт заказал - должен был ещё столько же отдать! Почему тут так мало!?
								ul.items
									li.items-item
										.items-item__icon
											+icon('times')
										.items-item__text Обещанная Цена никогда не соответствует реальной
									li.items-item
										.items-item__icon
											+icon('times')
										.items-item__text Навяжет вам кучу ненужных услуг
									li.items-item
										.items-item__icon
											+icon('times')
										.items-item__text Цены на материалы всегда выше адекватной рыночн

		//- чудес не бывает
		.section.section--construction
			.container
				.section__wrapper
					.title.title--h2.title--center Чудес
						span.text.text--primary  не бывает
					.description.description--center Сэкономить, конечно, хочется, и это нормально. Но, как показывает практика, низкая цена ремонта в дальнейшем приводит к еще большим расходам. А ведь ремонт делается не на один год.
					.text.text--serif А из чего состоит цена?
					.items.items--img
						.img-item
							.img-item__picture
								img(src='/img/1.png')
							.img-item__name Время руководителя
							.img-item__text Внимание руководителя является <b>гарантией</b> качества
						.img-item
							.img-item__picture
								img(src='/img/2.png')
							.img-item__name Зарплаты мастеров
							.img-item__text Профессионал не станет работать <b>за копейки</b>
						.img-item
							.img-item__picture
								img(src='/img/3.png')
							.img-item__name Материалы
							.img-item__text Экономия на материалах - <b>залог новых трат в будущем</b>
						.img-item
							.img-item__picture
								img(src='/img/4.png')
							.img-item__name Профессиональные инструменты
							.img-item__text Профессиональные инструменты влияют на качество работы. И, разумеется, на цену
		//- качественный ремонт
		.section
			.container
				.card.card--left.card--big
					.card__wrapper.card__wrapper--column
						.title.title--h2 Качественный ремонт
							span.text.text--primary  стоит
								br
								| своих денег!
						.typography
							// todo: Стилизовать текст
							p.typography__text Сотрудничая с нами вы заплатите ровно столько, сколько потребуется для качественного ремонта. ПроРемонт - лучшее соотношение цены и качества
						.card__footer
							button(data-modal="#feedback-modal").btn.btn--primary.js-open-modal заказать обратный звонок
							.text
								p Ищете компанию, которой можно доверить ремонт без опасений?
								p Вы её нашли!
				.picture.picture--right
					img(src='/img/pic-1.png').picture__img
		//- сэкономить на замере
		.sections
			.section.section--froze
				.container
					.section__wrapper
						.card
							.card__wrapper.card__wrapper--column
								.title.title--h2 Мы поможем вам сэкономить
									span.text.text--primary  на этапе замера
								.description Мы гарантируем стопроцентную точность замера благодаря опыту. Всё известно заранее, прозрачно и честно
								.card__footer
									button(data-modal='#feedback-modal').btn.btn--primary.js-open-modal оставить контакты
									.text
										p Оставьте свои контактные данные
										p Замерщик обязательно свяжется с вам
			.section
				.container
					.section__wrapper
						.card.card--no-bordered
							.card__wrapper.card__wrapper--column
								.card__picture
									img(src='/img/man.png')
								.card__content
									.title.title--h2 Мы не экономим на материалах,
										|  а покупаем их
										span.text.text--primary  по закупочным ценам!
									.typography Благодаря сотрудничеству с гипермаркетом “Петрович” мы можем закупать материалы по низким ценам,
										| без потери качетсва материалов.
										| Выжать из клиента все деньги - не наша цель.
		//- отзывы
		.section.section--reviews
			.container
				.title.title--h2.title--center Отзывы
					span.text.text--primary  довольных
					|  заказчиков
				.description.description--center Лучшее подтверждение качества работы компании – отзывы довольных клиентов. Те, кто доверяют ремонт нам, остаются довольны результатом.
			.slider
				.js-reviews-slider.swiper-container.slider-decor
					.swiper-wrapper
						.swiper-slide
							.card.reviews
								.reviews__wrapper
									.reviews__preview
										img(src='/img/reviews.png')
									.reviews__content
										.reviews__head
											.reviews__name Имя Фамилия, 35 лет
											a(href='/').reviews__link
												+icon('vk')
										.reviews__description Ремонт огонь! Сделали всё быстро и без задержек. Оценщик грамонтно составил смету, выше прайся денег не просили. Однозначно советую
										.reviews__info Дизайнерский ремонт, 78 м2
					.swiper-pagination.slider__pagination
		//- информация
		.section.section--official
			.container
				.section__wrapper.section__wrapper--center
					.title.title--h2.title--center Мы работаем
						span.text.text--primary  официально
					.description.description--center Вся наша работа регулируется документально. Заказывая ремонт у нас, вы получаете:

					.information
						.information-item.information-item--left
							.information-item__wrapper
								.information-item__title Полноценный договор с ооо
								.information-item__text Документальное подтверждение сотрудничества страхует вас от неприятных ситуаций
							.information-item__icon
								+icon('briefcase')
						.information-item.information-item--right
							.information-item__wrapper
								.information-item__title Гарантию на работы
								.information-item__text В соответсвии с договором мы предоставляем вам два года гарантии
							.information-item__icon
								+icon('file')
						.information-item.information-item--left
							.information-item__wrapper
								.information-item__title Сертифицированные специалисты
								.information-item__text У нас работают только опытные мастера, постоянно повышающие квалификацию
							.information-item__icon
								+icon('album')
		//- потрфолио
		.section.section--portfolio
			.container
				.section__wrapper
					.title.title--h2.title--center
						span.text.text--primary Портфолио
					.description.description--center Вот так может выглядеть ваша квартира
					.portfolio
						.portfolio-hero
							.portfolio-hero__preview
								img(src='/img/portfolio.png')
							.portfolio-hero-aside
								.portfolio-hero-aside__items
									a(href='').portfolio-hero-aside__item
										img(src='/img/portfolio.png')
									a(href='').portfolio-hero-aside__item
										img(src='/img/portfolio.png')
									a(href='').portfolio-hero-aside__item
										img(src='/img/portfolio.png')
						.portfolio-slider
							.js-portfolio-slider
								.swiper-wrapper
									.swiper-slide
										a(href='').portfolio-item
											.portfolio-item__head
												.portfolio-item__size 43 м2
											.portfolio-item__picture
												img(src="/img/portfolio.png")
											.portfolio-item__content
												.portfolio-item__text Ремонт гостиной
												.portfolio-item__description Г. Москва, ул. Братеевская 6/1
									.swiper-slide
										a(href='').portfolio-item
											.portfolio-item__head
												.portfolio-item__size 43 м2
											.portfolio-item__picture
												img(src="/img/portfolio.png")
											.portfolio-item__content
												.portfolio-item__text Ремонт гостиной
												.portfolio-item__description Г. Москва, ул. Братеевская 6/1
									.swiper-slide
										a(href='').portfolio-item
											.portfolio-item__head
												.portfolio-item__size 43 м2
											.portfolio-item__picture
												img(src="/img/portfolio.png")
											.portfolio-item__content
												.portfolio-item__text Ремонт гостиной
												.portfolio-item__description Г. Москва, ул. Братеевская 6/1
									.swiper-slide
										a(href='').portfolio-item
											.portfolio-item__head
												.portfolio-item__size 43 м2
											.portfolio-item__picture
												img(src="/img/portfolio.png")
											.portfolio-item__content
												.portfolio-item__text Ремонт гостиной
												.portfolio-item__description Г. Москва, ул. Братеевская 6/1
								.portfolio-slider__nav
									//.swiper-button-next
									//.swiper-button-prev
									.swiper-pagination
		//- тарифы
		.section.section--tariffs
			.container
				.section__wrapper
					.title.title--h2.title--center Тарифные
						span.text.text--primary  планы
					.description.description--center У нас есть три разных тарифных плана отличающихся ценой и спектром предоставляемых услуг
					.tariffs
						.tariff
							.tariff__wrapper
								.tariff__name.tariff__name--blue Базовый
								.tariff__price
									span.text.text--medium.text--gray.text--bold от
									|  12 000₽
									span.text.text--medium.text--bold  за м2
								ul.tariff-list
									li.tariff-item.tariff-item--disabled
										.tariff-item__icon
											+icon('check-off')
										.tariff-item__text Шпаклевание, оштукатуривание стен и потолков
									li.tariff-item
										.tariff-item__icon
											+icon('check')
										.tariff-item__text Обои под покраску
									li.tariff-item
										.tariff-item__icon
											+icon('check')
										.tariff-item__text Двери и фурнитура – 4 вида на выбор
									li.tariff-item
										.tariff-item__icon
											+icon('check')
										.tariff-item__text Подгонка дверного проёма
									li.tariff-item
										.tariff-item__icon
											+icon('check')
										.tariff-item__text Розетки и выключатели
									li.tariff-item
										.tariff-item__icon
											+icon('check')
										.tariff-item__text Плинтусы с кабель-каналом
									li.tariff-item
										.tariff-item__icon
											+icon('check')
										.tariff-item__text Натяжной потолок, люстра в подарок
									li.tariff-item
										.tariff-item__icon
											+icon('check')
										.tariff-item__text Ламинат 32 класса - 2 цвета на выбор
									li.tariff-item
										.tariff-item__icon
											+icon('check')
										.tariff-item__text Подоконники оконные откосы
									li.tariff-item
										.tariff-item__icon
											+icon('check')
										.tariff-item__text Гидроизоляция ванной комнаты
									li.tariff-item
										.tariff-item__icon
											+icon('check')
										.tariff-item__text Канализационная система и водопровод ГВС/ХВС
									li.tariff-item
										.tariff-item__icon
											+icon('check')
										.tariff-item__text Кафель в санузел
									li.tariff-item
										.tariff-item__icon
											+icon('check')
										.tariff-item__text Душевая кабина или ванная (на выбор)
									li.tariff-item
										.tariff-item__icon
											+icon('check')
										.tariff-item__text Унитаз, раковина с тумбой, смесители
								button.btn.btn--primary Этот тариф мне подходит
						.tariff
							.tariff__wrapper
								.tariff__name.tariff__name--green Оптимальный
								.tariff__price
									span.text.text--medium.text--gray.text--bold от
									|  14 000₽
									span.text.text--medium.text--bold  за м2
								ul.tariff-list
									li.tariff-item.tariff-item--disabled
										.tariff-item__icon
											+icon('check-off')
										.tariff-item__text Шпаклевание, оштукатуривание стен и потолков
									li.tariff-item
										.tariff-item__icon
											+icon('check')
										.tariff-item__text Обои под покраску
									li.tariff-item
										.tariff-item__icon
											+icon('check')
										.tariff-item__text Двери и фурнитура – 4 вида на выбор
									li.tariff-item
										.tariff-item__icon
											+icon('check')
										.tariff-item__text Подгонка дверного проёма
									li.tariff-item
										.tariff-item__icon
											+icon('check')
										.tariff-item__text Розетки и выключатели
									li.tariff-item
										.tariff-item__icon
											+icon('check')
										.tariff-item__text Плинтусы с кабель-каналом
									li.tariff-item
										.tariff-item__icon
											+icon('check')
										.tariff-item__text Натяжной потолок, люстра в подарок
									li.tariff-item
										.tariff-item__icon
											+icon('check')
										.tariff-item__text Ламинат 32 класса - 2 цвета на выбор
									li.tariff-item
										.tariff-item__icon
											+icon('check')
										.tariff-item__text Подоконники оконные откосы
									li.tariff-item
										.tariff-item__icon
											+icon('check')
										.tariff-item__text Гидроизоляция ванной комнаты
									li.tariff-item
										.tariff-item__icon
											+icon('check')
										.tariff-item__text Канализационная система и водопровод ГВС/ХВС
									li.tariff-item
										.tariff-item__icon
											+icon('check')
										.tariff-item__text Кафель в санузел
									li.tariff-item
										.tariff-item__icon
											+icon('check')
										.tariff-item__text Душевая кабина или ванная (на выбор)
									li.tariff-item
										.tariff-item__icon
											+icon('check')
										.tariff-item__text Унитаз, раковина с тумбой, смесители
								button.btn.btn--primary Этот тариф мне подходит
						.tariff
							.tariff__wrapper
								.tariff__name.tariff__name--orange Премиум
								.tariff__price
									span.text.text--medium.text--gray.text--bold от
									|  16 000₽
									span.text.text--medium.text--bold  за м2
								ul.tariff-list
									li.tariff-item.tariff-item--disabled
										.tariff-item__icon
											+icon('check-off')
										.tariff-item__text Шпаклевание, оштукатуривание стен и потолков
									li.tariff-item
										.tariff-item__icon
											+icon('check')
										.tariff-item__text Обои под покраску
									li.tariff-item
										.tariff-item__icon
											+icon('check')
										.tariff-item__text Двери и фурнитура – 4 вида на выбор
									li.tariff-item
										.tariff-item__icon
											+icon('check')
										.tariff-item__text Подгонка дверного проёма
									li.tariff-item
										.tariff-item__icon
											+icon('check')
										.tariff-item__text Розетки и выключатели
									li.tariff-item
										.tariff-item__icon
											+icon('check')
										.tariff-item__text Плинтусы с кабель-каналом
									li.tariff-item
										.tariff-item__icon
											+icon('check')
										.tariff-item__text Натяжной потолок, люстра в подарок
									li.tariff-item
										.tariff-item__icon
											+icon('check')
										.tariff-item__text Ламинат 32 класса - 2 цвета на выбор
									li.tariff-item
										.tariff-item__icon
											+icon('check')
										.tariff-item__text Подоконники оконные откосы
									li.tariff-item
										.tariff-item__icon
											+icon('check')
										.tariff-item__text Гидроизоляция ванной комнаты
									li.tariff-item
										.tariff-item__icon
											+icon('check')
										.tariff-item__text Канализационная система и водопровод ГВС/ХВС
									li.tariff-item
										.tariff-item__icon
											+icon('check')
										.tariff-item__text Кафель в санузел
									li.tariff-item
										.tariff-item__icon
											+icon('check')
										.tariff-item__text Душевая кабина или ванная (на выбор)
									li.tariff-item
										.tariff-item__icon
											+icon('check')
										.tariff-item__text Унитаз, раковина с тумбой, смесители
								button.btn.btn--primary Этот тариф мне подходит
		//- разделитель не хватит денег
		.section.section--delimiter
			.container
				.section__wrapper.section__wrapper--center
					.title.title--h2.title--center
						| А если
						span.text.text--primary  не хватит денег?
					.description.description--center Мы предусмотрели этот вопрос и во избежание проблем подобного плана разбили работу на несколько этапов. Их количество обсуждается индивидуально при составлении сметы.
					.section__icon
						+icon('question')
		//- остались вопросы?
		.section
			.container
				.modal.modal--feedback.modal--card.card-left
					.modal__wrapper
						.modal__header
							.title.title--h2 Остались
								spna.text.text--primary вопросы?
							.description Оставьте свои контакты, и менеджер с вами обязательно свяжется
						.modal__content
							form.form
								label.input-field
									span.input-field__label Оставьте номер телефона
									.input-field__wrap
										input(type='text', placeholder='+7 (---) ---------').input.input--phone.js-phone-mask
										button(type='submit').input-field__btn Оставить
						.modal__footer
							.social
								.social__title Задать вопрос напрямую здесь:
								.social__wrapper
									a(href='').social-item.social-item--telegram
										.social-item__icon
											+icon('telegram')
										.social-item__text Telegram
									a(href='').social-item.social-item--whatsapp
										.social-item__icon
											+icon('whatsapp')
										.social-item__text WhatsApp
									a(href='').social-item.social-item--viber
										.social-item__icon
											+icon('viber')
										.social-item__text Viber
							.policy
								a.policy__link Политика конфиденциальности
				.picture.picture--right
					img(src='/img/pic-3.png').picture__img
		//- Калькулятор
		.section.section--calculator
			.container
				.title.title--h2
					span.text.text--primary Калькулятор
					|  стоимости
				.description Вы можете узнать примерную стоимость ремонта, вопспользовавшись нашим калькулятором
				#smartwizard
					ul.nav
						li
							a(href='#step-1').nav-link
								span.nav-link__text Этап 1
						li
							a(href='#step-2').nav-link
								span.nav-link__text Этап 2
						li
							a(href='#step-3').nav-link
								span.nav-link__text Этап 3
						li
							a(href='#step-4').nav-link
								span.nav-link__text Этап 4
						li
							a(href='#step-5').nav-link
								span.nav-link__text Этап 5
					.tab-content.js-calculator
						#step-1.tab-pane(role='tabpanel')
							.calculator.calculator--page-1
								.calculator__wrapper
									.calculator__body
										form.form
											.range.js-range
												.range__head
													.range__title Площадь помещения, м2
													.range__result.js-range-value#rangeResult1(data-range-value="10") 10
												input(type='range' name="S" min='30' max='150' step='5' value='10' id='range1' required).input--range.js-input-range.js-calc-input
											.range.js-range
												.range__head
													.range__title Количество комнат
													.range__result.js-range-value#rangeResult2(data-range-value="0") 2
												input(type='range' name="room" min='0' max='9' step='1' value='2' id='range2' required).input--range.js-input-range.js-calc-input
											.repair-type
												.repair-type__head
													.repair-type__title Тип ремонта
													.repair-type__description Выберите тип ремонта, который вам требуется
												.repair-items
													label.radio.repair-item
														input(type='radio' name='type' value="12000" required checked).radio-input.js-calc-input.js-type-price
														.radio-text
															.radio-text__title Стандарт
															.radio-text__description Качественно и доступно
													label.radio.repair-item
														input(type='radio' name='type' value="14000" required).radio-input.js-type-price.js-calc-input
														.radio-text
															.radio-text__title Комфорт
															.radio-text__description Материалы повышенного качества
													label.radio.repair-item
														input(type='radio' name='type' value="8000" required).radio-input.js-type-price.js-calc-input
														.radio-text
															.radio-text__title Индивидуальный
															.radio-text__description Материалы на Ваш выбор

						#step-2.tab-pane(role='tabpanel')
							.calculator.calculator--page-2
								.calculator__wrapper
									.calculator__body
										form.form.form--row
											.calc-section
												.calc-section__head
													.calc-section__title Необходимые работы
													.calc-section__description Составим чек лист необходимых работ
												.calc-row.column
													.calc-row__name Пол
													.calc-row__wrapper
														label(data-floor-price='1').radio.repair-item.repair-item--clear
															input(type='radio' name='floor' value="0" checked).radio-input.js-calc-input
															.radio-text
																.radio-text__title Ламинат
																.radio-text__description +0 за м2
														label(data-floor-price='2500').radio.repair-item.repair-item--clear
															input(type='radio' name='floor' value="2500").radio-input.js-calc-input
															.radio-text
																.radio-text__title Паркет
																.radio-text__description +2500 за м2
														label(data-floor-price='820').radio.repair-item.repair-item--clear
															input(type='radio' name='floor' value="820").radio-input.js-calc-input
															.radio-text
																.radio-text__title Премиум ламинат
																.radio-text__description +820 за м2
												.calc-row.column
													.calc-row__name Потолок
													.calc-row__wrapper
														label(data-ceiling-price='1').radio.repair-item.repair-item--clear
															input(type='radio' name='ceiling' value="0" checked).radio-input.js-calc-input
															.radio-text
																.radio-text__title Натяжные потолки
																.radio-text__description +0 за м2
														label(data-ceiling-price='1540').radio.repair-item.repair-item--clear
															input(type='radio' name='ceiling' value="1540").radio-input.js-calc-input
															.radio-text
																.radio-text__title Штукатурка
																.radio-text__description +1540 за м2
														label(data-ceiling-price='2120').radio.repair-item.repair-item--clear
															input(type='radio' name='ceiling' value="2120").radio-input.js-calc-input
															.radio-text
																.radio-text__title Гипсокартон
																.radio-text__description +2120 за м2
												.calc-row.column
													.calc-row__name Стены
													.calc-row__wrapper
														label(data-walls-price='1').radio.repair-item.repair-item--clear
															input(type='radio' name='walls' value="0" checked).radio-input.js-calc-input
															.radio-text
																.radio-text__title Обои под покраску
																.radio-text__description +0 за м2
														label(data-walls-price='500').radio.repair-item.repair-item--clear
															input(type='radio' name='walls' value="500").radio-input.js-calc-input
															.radio-text
																.radio-text__title Покраска стен в цвет
																.radio-text__description +500 за м2
														label(data-walls-price='1500').radio.repair-item.repair-item--clear
															input(type='radio' name='walls' value="1500").radio-input.js-calc-input
															.radio-text
																.radio-text__title Декоративная штукатурка
																.radio-text__description +1500 за м2
											.calc-section
												.calc-section__head
													.calc-section__title Другие услуги
													.calc-section__description Дополнительные работы по укладке материалов и т.д.
												.calc-row
													label.checkbox.repair-item.repair-item--clear
														input(type='checkbox' name='other-bowl' data-other-price='20000' value="20000").checkbox-input.js-calc-input
														.checkbox-text
															.checkbox-text__title Подвесной унитаз
															//.checkbox-text__description Проведение проводки
													label.checkbox.repair-item.repair-item--clear
														input(type='checkbox' name='other-floors' data-other-price='1000' value="1000").checkbox-input.js-calc-input
														.checkbox-text
															.checkbox-text__title Теплые полы
															//.checkbox-text__description Проведение водоснабжения
													label.checkbox.repair-item.repair-item--clear
														input(type='checkbox' name='other-defend' data-other-price='31000' value="31000").checkbox-input.js-calc-input
														.checkbox-text
															.checkbox-text__title Система защиты от протечек
															//.checkbox-text__description Световое оборудование
													label.checkbox.repair-item.repair-item--clear
														input(type='checkbox' name='other-home' data-other-price='100000' value="100000").checkbox-input.js-calc-input
														.checkbox-text
															.checkbox-text__title Система "Умный дом"
															//.checkbox-text__description Опишите задачу подробнее
						#step-3.tab-pane(role='tabpanel')
							.calculator.calculator--page-3
								.calculator__wrapper
									.calculator__body
										form.form
											.calc-section
												.calc-section__head
													.calc-section__title У вас есть готовый дизайн проект ремонта?
												.calc-row
													.calc-row__name Потолок
													.calc-row__wrapper
														label.radio.repair-item
															input(type='radio', name='ceiling').radio-input
															.radio-text
																.radio-text__title Да, есть
																.radio-text__description Мы будем рады с ним ознакомиться
														label.radio.repair-item
															input(type='radio', name='ceiling').radio-input
															.radio-text
																.radio-text__title Нет, проекта нет
																.radio-text__description Не нуждаетесь в дизайн проекте
														label.radio.repair-item
															input(type='radio', name='ceiling').radio-input
															.radio-text
																.radio-text__title В поисках дизайна интерьера
																.radio-text__description Мы предоставим вам услуги интерьер-дизайнера

						#step-4.tab-pane(role='tabpanel')
							.calculator.calculator--page-4
								.calculator__wrapper
									.calculator__body
										form.form
											.calc-section
												.calc-section__head
													.calc-section__title Как скоро вы планируете начать ремонт?
													.calc-section__description Рассчитаем сроки
												.calc-row
													.calc-row__wrapper
														label.radio.repair-item
															input(type='radio', name='ceiling').radio-input
															.radio-text
																.radio-text__title Чем быстрее, тем лучше
																.radio-text__description Очень срочно
														label.radio.repair-item
															input(type='radio', name='ceiling').radio-input
															.radio-text
																.radio-text__title В течение двух месяцев
																.radio-text__description Сроки не горят
														label.radio.repair-item
															input(type='radio', name='ceiling').radio-input
															.radio-text
																.radio-text__title Не срочно
																.radio-text__description Сроки не важны

						#step-5.tab-pane(role='tabpanel')
							.calculator.calculator--page-final
								.calculator__wrapper
									.calculator__body
										form.form
											.title.title--h2 Предварительная смета
												br
												span.text.text--primary готова!
											.calc-section
												.calc-section__body
													.result
														.result-cost.result-cost-from
															.result-cost__title Цена за м2
															.result-cost__value от 14 000₽ за м2
														.result-cost
															.result-cost__title Стоимость ремонта
															.result-cost__value.js-calc-result
									.calculator__footer
										form.form
											label.input-field
												span.input-field__label Оставьте номер телефона, и мы свяжемся с вами, для уточнения цены
												.input-field__wrap
													input(type='text', placeholder='+7 (---) ---------').input.input--phone.js-phone-mask
													button(type='submit').input-field__btn Оставить

