.footer
		&-top
				display: flex
				align-items: center
				justify-content: space-between
				margin-bottom: 30px

				&__contacts
						margin-left: 100px

						.contacts-item:not(.contacts-item--phone)
								color: $primary

						+max-screen(560px)
								margin-left: 0

		+max-screen(560px)
				.footer-top
						flex-wrap: wrap

				.footer-logo, .contacts
						width: 50%

				.social

						+max-screen(425px)
								justify-content: space-between
								margin: 40px 0 20px 0
								width: 100%

								.social-item
										&:last-child
												margin-right: 0

		&-logo

				&__link
						display: flex
						width: 170px

						+max-screen(560px)
								width: 100px

		&-bottom
				display: flex
				align-items: center
				justify-content: space-between
				padding: 20px 0

				.policy
						top: 0

						+max-screen(560px)
								margin: 20px 0

				+max-screen(560px)
						flex-direction: column
						align-items: flex-start

						.copyright
								opacity: .5


