.header
		margin-top: 25px
		height: 70px

		+max-screen(968px)
				background-color: $white
				padding: 20px 0 40px 0
				margin: 0
				height: 100%

		&__wrapper
				width: 100%
				display: flex
				align-items: center
				justify-content: space-between
				flex-wrap: wrap

		&-logo

				+max-screen(968px)
						width: 50%

.social
		margin-right: 120px
		margin-left: auto
		flex-wrap: wrap
		justify-content: center

		+max-screen(968px)
				order: 3
				margin: 15px auto 0 auto

		&__title
				opacity: .5
				font-size: 12px

				+max-screen(968px)
						display: none

		&__wrapper
				display: flex

				+max-screen(968px)
						flex-wrap: wrap

				+max-screen(425px)
					justify-content: space-between

		&-item
				color: $white
				display: flex
				align-items: center
				justify-content: center
				padding: 8px 20px
				border-radius: 5px
				text-decoration: none
				transition: background-color .2s ease

				+max-screen(425px)
					width: calc(100% / 3 - 10px)

				&:not(:last-child)
						margin-right: 10px

				&--telegram
						background-color: $bg-telegram

						&:hover
								background-color: darken($bg-telegram, 10%)

				&--whatsapp
						background-color: $bg-whatsapp

						&:hover
								background-color: darken($bg-whatsapp, 10%)

				&--viber
						background-color: $bg-viber

						&:hover
								background-color: darken($bg-viber, 10%)

				&__icon
						margin-right: 15px
						+elCenter

						.icon
								font-size: 16px

								+max-screen(425px)
									font-size: 14px

				&__text

						+max-screen(425px)
							font-size: 10px

		&--invert
				margin-left: auto
				margin-right: 0
				.social-item
					background: $white
					border: 1px solid $disabled
					box-shadow: 0px 20px 25px -10px rgba(0, 82, 255, 0.04)

					&--telegram
						color: $bg-telegram

						&:hover
								color: $white
								background-color: $bg-telegram

					&--whatsapp
						color: $bg-whatsapp

						&:hover
							color: $white
							background-color: $bg-whatsapp

					&--viber
						color: $bg-viber

						&:hover
							color: $white
							background-color: $bg-viber

.contacts
		display: flex
		align-items: center

		+max-screen(968px)
				width: 50%
				justify-content: flex-end

		&__icon
				background-color: $white
				padding: 12px
				border-radius: 5px
				width: 45px
				height: 45px
				+elCenter
				margin-right: 15px

				.icon
						color: $primary
						font-size: 20px

				+max-screen(968px)
						display: none

		&__wrapper
				display: flex
				flex-direction: column
				align-items: flex-end

		&-item
				color: $white
				font-size: 12px
				&--phone
						font-size: 14px
						font-family: $ff-b
						color: $dark
						margin-bottom: 5px
						text-decoration: none
