.modals
		display: none

.modal
		padding: 70px
		background: $white
		margin: 0 auto

		+max-screen(560px)
				padding: 30px

		&__header
				margin-bottom: 40px

		&__content
				margin-bottom: 50px

				+max-screen(980px)
						margin-bottom: 10px

		&__footer
				display: flex
				align-items: center
				justify-content: space-between

				.social
						margin-right: 0
						margin-left: 0

				+max-screen(980px)
					flex-direction: column
					align-items: flex-start

					.policy
							margin-bottom: 30px

				+max-screen(560px)

					.social
							display: none

		&--feedback
				max-width: 900px
				width: 100%

				+max-screen(1024px)
					max-width: 100%

		&--order
				max-width: 900px
				width: 100%

				+max-screen(1024px)
					max-width: 100%

		&--card
				max-width: 890px
				width: 100%
				border: 2px solid #EDF1F7
				border-radius: 5px
				margin: 0

				+max-screen(1024px)
					max-width: 100%


.mfp-close
		display: none !important

.mfp-bg
		background: rgba(39, 62, 92, 0.45)

.mfp-container
		+max-screen(876px)
				padding-left: 20px !important
				padding-right: 20px !important
